<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="menu-color">Menu</mat-toolbar>
      <mat-nav-list class="nav-list">
        <a mat-list-item  routerLink="/admin/"> <mat-icon class="pr-5" color="primary">dashboard</mat-icon> Dashboard</a>
        <a mat-list-item routerLinkActive="active" routerLink="/admin/user"> <mat-icon class="pr-5" color="primary">supervisor_account</mat-icon> Users</a>
        <a mat-list-item routerLinkActive="active" routerLink="/admin/product">  <mat-icon class="pr-5" color="primary">add_business</mat-icon> Products </a>
        <a mat-list-item routerLinkActive="active" routerLink="/admin/orders"> <mat-icon class="pr-5" color="primary">monetization_on</mat-icon> Orders</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >

          <mat-icon aria-label="Side nav toggle icon material-icons">menu</mat-icon>
        
        </button>
        <span>Dashboard</span>
      </mat-toolbar>
      <div class="container-fluid mt-2">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
